{% load static %}
{% load foundation_tags %}
<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
    <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />

	{% block open_graph_meta %}
		<meta property="og:title" content="Vat.io" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="{% static 'images/logo-square.png' %}" />
		<meta property="og:url" content="http://www.vat.io{{ request.get_full_path }}" />
		<meta property="og:description" content="We're fucking awesome." />
	{% endblock open_graph_meta %}

    {% block base_title %}
    	<title>{% block title %}Vat.io | We're fucking awesome.{% endblock title %}</title>
    {% endblock base_title %}

    {% block main_css %}
		<link href='http://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,700' rel='stylesheet' type='text/css'>
	    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
	    <link rel="stylesheet" href="{% static 'css/foundation.css' %}" />
		<link rel="stylesheet" href="{% static 'css/application.css' %}" />
		
		<link rel="shortcut icon" href="{% static 'images/logo-small.png' %}" />
		<link rel="apple-touch-icon" href="{% static 'images/logo-small.png' %}"/>
    {% endblock main_css %}  

    {% block foundation_modernizer %}
    	<script src="{% static 'js/vendor/custom.modernizr.js' %}"></script>
    {% endblock foundation_modernizer %}
</head>
<body {% block body_attr %}{% endblock body_attr %}>
	<div id="header">
		
	</div>
	<div id="content">
    	{% block document_body %}{% endblock document_body %}
	</div>

    {% block jquery %}
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {% endblock jquery %}

    {% block foundation_js %}
    	<script src="{% static 'js/foundation/foundation.min.js' %}"></script>
		{% foundation_include "topbar" %}
		{% foundation_include "forms" %}
		{% foundation_include "section" %}
    {% endblock foundation_js %}

    {% block body_js %}
	{% endblock body_js %}

    {% block main_js %}
		<script src="{% static 'js/functions.min.js' %}"></script>
    {% endblock main_js %}
</body>
</html>