{% extends "vatio/application.html" %}

{% block document_body %}
	<div class="row">
		<div class="large-12 columns">
			<h1 class="aligncenter">Your Queue</h1>
			<p class="aligncenter">All of your employees, their desired off-time, and how that fits into your schedule</p>
		</div>
		<div class="large-4 small-12 columns">
			<h3>Requests</h3>
			<ol class="queue">
				<li class="row collapse queueItem">
					<div class="large-3 small-2 columns">
						<img src="https://0.gravatar.com/avatar/bcd70bdf564378fcc5ef52b4c5665b08?d=https%3A%2F%2Fidenticons.github.com%2F51304ccf76b5c27b3abe5d09dea3e579.png" class="round" alt="Patrick Cason">
					</div>
					<div class="large-9 small-10 columns">
						<h4>Patrick Cason</h4>
						<p>Front-end web developer</p>
						<p><b>Team:</b> Engineering</p>
						<p><b>Start:</b> Oct 10th, 2013 (9AM)</p>
						<p><b>End:</b> Nov 1st, 2013 (9AM)</p>
					</div>
					<div class="large-12 columns options">
						<a href="#" class="accept"><span aria-hidden="true" class="icon-checkmark"></span></a>
						<a href="#" class="reject"><span aria-hidden="true" class="icon-close"></span></a>
					</div>
				</li>
				<li class="row collapse queueItem">
					<div class="large-3 small-2 columns">
						<img src="https://0.gravatar.com/avatar/bcd70bdf564378fcc5ef52b4c5665b08?d=https%3A%2F%2Fidenticons.github.com%2F51304ccf76b5c27b3abe5d09dea3e579.png" class="round" alt="Patrick Cason">
					</div>
					<div class="large-9 small-10 columns">
						<h4>Patrick Cason</h4>
						<p>Front-end web developer</p>
						<p><b>Team:</b> Engineering</p>
						<p><b>Start:</b> Oct 10th, 2013 (9AM)</p>
						<p><b>End:</b> Nov 1st, 2013 (9AM)</p>
					</div>
					<div class="large-12 columns options">
						<a href="#" class="accept"><span aria-hidden="true" class="icon-checkmark"></span></a>
						<a href="#" class="reject"><span aria-hidden="true" class="icon-close"></span></a>
					</div>
				</li>
				<li class="row collapse queueItem">
					<div class="large-3 small-2 columns">
						<img src="https://0.gravatar.com/avatar/bcd70bdf564378fcc5ef52b4c5665b08?d=https%3A%2F%2Fidenticons.github.com%2F51304ccf76b5c27b3abe5d09dea3e579.png" class="round" alt="Patrick Cason">
					</div>
					<div class="large-9 small-10 columns">
						<h4>Patrick Cason</h4>
						<p>Front-end web developer</p>
						<p><b>Team:</b> Engineering</p>
						<p><b>Start:</b> Oct 10th, 2013 (9AM)</p>
						<p><b>End:</b> Nov 1st, 2013 (9AM)</p>
					</div>
					<div class="large-12 columns options">
						<a href="#" class="accept"><span aria-hidden="true" class="icon-checkmark"></span></a>
						<a href="#" class="reject"><span aria-hidden="true" class="icon-close"></span></a>
					</div>
				</li>
			</ol>
		</div>
		<div class="large-8 hide-from-small columns">
			<h3>Conflicts</h3>
			<h4 class="headerBG aligncenter">Tuesday, October 22nd</h4>
			<ul class="conflicts">
				<li class="row collapse conflictItem">
					<h5>Engineering</h5>
					<ol>
						<li>
							<p><b>Patrick Cason</b> <i>(October 21st - October 28th)</i></p>
						</li>
						<li>
							<p><b>Brendan</b> <i>(October 21st - October 28th)</i></p>
						</li>
						<li>
							<p><b>Andre</b> <i>(October 21st - October 28th)</i></p>
						</li>
					</ol>
				</li>
				<li class="row collapse conflictItem">
					<h5>Marketing</h5>
					<ol>
						<li>
							<p><b>Patrick Cason</b> <i>(October 21st - October 28th)</i></p>
						</li>
						<li>
							<p><b>Andre</b> <i>(October 21st - October 28th)</i></p>
						</li>
					</ol>
				</li>
				<li class="row collapse conflictItem">
					<h5>Marketing</h5>
					<ol>
						<li>
							<p><b>Brendan</b> <i>(October 21st - October 28th)</i></p>
						</li>
						<li>
							<p><b>Andre</b> <i>(October 21st - October 28th)</i></p>
						</li>
					</ol>
				</li>
			</ul>
			<h4 class="headerBG aligncenter">Tuesday, October 25th</h4>
			<ul class="conflicts">
				<li class="row collapse conflictItem">
					<h5>Engineering</h5>
					<ol>
						<li>
							<p><b>Patrick Cason</b> <i>(October 21st - October 28th)</i></p>
						</li>
						<li>
							<p><b>Brendan</b> <i>(October 21st - October 28th)</i></p>
						</li>
					</ol>
				</li>
				<li class="row collapse conflictItem">
					<h5>Sales</h5>
					<ol>
						<li>
							<p><b>Patrick Cason</b> <i>(October 21st - October 28th)</i></p>
						</li>
						<li>
							<p><b>Brendan</b> <i>(October 21st - October 28th)</i></p>
						</li>
						<li>
							<p><b>Andre</b> <i>(October 21st - October 28th)</i></p>
						</li>
						<li>
							<p><b>Dave</b> <i>(October 21st - October 28th)</i></p>
						</li>
					</ol>
				</li>
				<li class="row collapse conflictItem">
					<h5>Marketing</h5>
					<ol>
						<li>
							<p><b>Patrick Cason</b> <i>(October 21st - October 28th)</i></p>
						</li>
						<li>
							<p><b>Andre</b> <i>(October 21st - October 28th)</i></p>
						</li>
					</ol>
				</li>
			</ul>
			{% comment %}
			<h3 class="aligncenter"><a href="#">&#9668;</a> October 2013 <a href="#">&#9658;</a></h3>
			<table class="calendar">
				<thead>
					<tr>
						<th>Sun</th>
						<th>Mon</th>
						<th>Tue</th>
						<th>Wed</th>
						<th>Thu</th>
						<th>Fri</th>
						<th>Sat</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
					</tr>
					<tr>
						<td>8</td>
						<td>9</td>
						<td>10</td>
						<td>11</td>
						<td>12</td>
						<td>13</td>
						<td>14</td>
					</tr>
					<tr>
						<td>15</td>
						<td>16</td>
						<td>17</td>
						<td>18</td>
						<td>19</td>
						<td>20</td>
						<td>21</td>
					</tr>
					<tr>
						<td>22</td>
						<td>23</td>
						<td>24</td>
						<td>25</td>
						<td>26</td>
						<td>27</td>
						<td>28</td>
					</tr>
					<tr>
						<td>29</td>
						<td>30</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			{% endcomment %}
		</div>
	</div>
{% endblock document_body %}

{% block body_js %}
{% endblock body_js %}